# Run Atlantis
sudo ./atlantis server \
--atlantis-url="$URL" \
--gh-user="$USERNAME" \
--gh-token="$TOKEN" \
--gh-webhook-secret="$SECRET" \
--repo-allowlist="$REPO_ALLOWLIST" \
--port=80 --repo-config="repository.yaml"

# Atlantis config
repos:
- id: /.*/
  workflow: terragrunt
workflows:
  terragrunt:
    plan:
      steps:
      - env:
          name: DESTROY_PARAMETER
          command:  if [ "$COMMENT_ARGS" = "\-\d\e\s\t\r\o\y" ]; then echo "-destroy"; else echo ""; fi
      - run: terragrunt plan --terragrunt-non-interactive -no-color -out=$PLANFILE $DESTROY_PARAMETER
    apply:
      steps:
      - run: terragrunt apply --terragrunt-non-interactive -no-color $PLANFILE